# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.whl

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Flask
instance/
.webassets-cache

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment variables
.env
*.env

# Database files
*.sqlite3
*.db

# Coverage reports
.coverage
htmlcov/
*.cover

# Brownie artifacts
brownie-config.yaml
build/
*.json

# Node.js / Hardhat
node_modules/
package-lock.json
yarn.lock
dist/
build/
*.log
*.tsbuildinfo

# Miscellaneous
*.DS_Store
*.swp
*.swo
*.tmp
*.bak
*.orig

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Machine Learning Model Files
*.pkl  # Ignore pickled model files

# Temporary files
*.tmp
*.temp
